html
  head
    title= title
  body
    h1= h1
    form(action = '/upload' method = 'POST' enctype ='multipart/form-data' )
        input( type= 'file' name= 'image')
        input( type= 'submit')

    each val in images
        img(src = `/uploads/` + val)

//-  whenever you have items tabbed over one more, it'll put them inside of the body



