html
  head
    title= title
  body
    h1= msg
    a(class='button' href='/') Back
    img(src = file style = "height: 300px") 



//- h1 File Successfully Uploaded
//- a(href='/')
//-     button Back
//- br
//- img ( 
//-     src =`../uploads/${feed}`  don't need a feed just one filename
//- )



//- app.post('/upload', upload.single('image'), (req, res) => {
//-   console.log("Uploaded: " + req.file.filename)
//-     res.send(`
//-     <h1> Title - Upload successful </h1>
//-     <a href = "/"><button>Back</button></a><br />
//-     <img src = ${req.file.filename} height = 300px />
//-     `
//-     )
//- })


